build/
dist/
.deps/
.venv/
*.egg-info/
benchmarks/
docs/
research/
mdescriptor/*.so
mdescriptor/*.pyd
src/mdescriptor/*.so
src/mdescriptor/*.pyd
mdescriptor/_version.py
src/mdescriptor/_version.py
mlffkit/__pycache__/
tests/__pycache__/
__pycache__/
